/target
/node_modules

/indexer/node_modules

# Rust build artifacts
target/
**/*.rs.bk
*.lock

# IDE files
.vscode/
.idea/
*.iml

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Documentation
doc/
*.md

# Testing
tests/
*.test
*.spec

# Miscellaneous
*.bak
*.swp
*.swo
*~

